    <h1>Conversor de Temperaturas</h1>
<p>Ejemplos: 45F, 3.5e-6c</p>
<div>
  <form action="/" method="post">
    <table>
      <tr>
        <th>Temperatura:</th>
        <td><input type="text" name= "temper" placeholder="32F" size="50" autofocus onchange=""/></td>
      </tr>
    </table>
    <div id="result">
      Temperatura convertida: <%= result %>. <br>
      <a href="/">Intentar de nuevo.</a>
    </div>
  </div>